databaseChangeLog:
  - changeSet:
      id: add-constraints-application-status-history
      author: namphan
      changes:
        - addForeignKeyConstraint:
            baseTableName: application_status_history
            baseColumnNames: application_id
            referencedTableName: applications
            referencedColumnNames: id
            onDelete: CASCADE
            constraintName: fk_app_status_hist_app
        - addForeignKeyConstraint:
            baseTableName: application_status_history
            baseColumnNames: from_status_id
            referencedTableName: application_statuses
            referencedColumnNames: id
            onDelete: SET NULL
            constraintName: fk_app_status_hist_from
        - addForeignKeyConstraint:
            baseTableName: application_status_history
            baseColumnNames: to_status_id
            referencedTableName: application_statuses
            referencedColumnNames: id
            onDelete: RESTRICT
            constraintName: fk_app_status_hist_to
        - addForeignKeyConstraint:
            baseTableName: application_status_history
            baseColumnNames: changed_by
            referencedTableName: users
            referencedColumnNames: id
            onDelete: SET NULL
            constraintName: fk_app_status_hist_user

