server:
  port: 8080
  servlet:
    context-path: /api/v1

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/master/db.changelog-master.yaml

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: Asia/Ho_Chi_Minh
    serialization:
      write-dates-as-timestamps: false

  messages:
    basename: i18n/messages
    encoding: UTF-8
    default-locale: en